@font-face {
    font-family: myFirstFont;
    src: url(candara.ttf);
 }
 ​
 * {
    font-family: myFirstFont;
 }
body{
    background-image: url("back1.png");
    background-repeat: repeat;
    zoom: 75%;
}
.box{
    width: 400px;
    height: 240px;
    border-radius: 20px;
    margin: auto;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    zoom: 75%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-inline-start: 3px;
    font-size: 175%;
    transition: 1s;
    zoom: 75%;
}
#box1{
    width: 500px;
    height: 550px;
    border-radius: 20px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    margin-inline-start: 100px;
    zoom: 75%;
}
#box2{
    width: 500px;
    height: 550px;
    border-radius: 20px;
    margin-top: -587px;
    margin-left: 750px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    zoom: 75%;
}
#box3{
    width: 500px;
    height: 550px;
    border-radius: 20px;
    margin-top: -587px;
    margin-left: 1400px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    zoom: 75%;
}
.text:hover{
    font-size: 200%;
    zoom: 75%;
}
.end{
    width: 1800px;
    height: auto;
    border-radius: 20px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    margin-inline-start: 100px;
    zoom: 75%;
}