body{
    background-image: url("back1.png");
    background-repeat: repeat;
    width: 100%;
}
.box{
    width: 400px;
    height: 240px;
    border-radius: 20px;
    margin: auto;
    background-image: url("back2.png");
    border: 20px solid #89dd89;

}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-inline-start: 3px;
    font-size: 110%;
    transition: 1s;
    
}
#box1{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    margin-inline-start: 100px;
    
}
#box2{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-top: -340px;
    margin-left: 550px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    
}
#box3{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-top: -340px;
    margin-left: 1000px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    
}
.text:hover{
    font-size: 125%;
    
}
.end{
    width: 1300px;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    margin-inline-start: 100px;
    
}