@font-face {
    font-family: myFirstFont;
    src: url(candara.ttf);
 }
 ​
 * {
    font-family: myFirstFont;
 }
body{
    background-image: url("back1.png");
    background-repeat: repeat;
}
.box{
    width: 300px;
    height: 180px;
    border-radius: 20px;
    margin: auto;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-inline-start: 3px;
    font-size: 100%;
    transition: 1s;
}
#box1{
    width: 375px;
    height: 412px;
    border-radius: 15px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
    margin-inline-start: 100px;
}
#box2{
    width: 375px;
    height: 412px;
    border-radius: 15px;
    margin-top: -440px;
    margin-left: 563px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
}
#box3{
    width: 375px;
    height: 412px;
    border-radius: 15px;
    margin-top: -440px;
    margin-left: 1050px;
    background-image: url("back2.png");
    border: 20px solid #89dd89;
}
.text:hover{
    font-size: 101%;
}
.end{
    width: 1350px;
    height: auto;
    border-radius: 15px;
    background-image: url("back2.png");
    border: 15px solid #89dd89;
    margin-inline-start: 100px;
}